*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background: hsl(30, 38%, 92%);
    min-height: 100vh;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
}

.details {
    width: 500px;
    height: 390px;
    display: flex;
    align-items: center;
    background: hsl(0, 0%, 100%);
    border-radius: .5em;

}

.left, .right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.left {
    width: 50%;
}

.left .ir {
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    height: 100%;
}

.left .im {
    display: none;
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 1.3em;
}


.right h6 {
    color: hsl(158, 36%, 37%);
    font-size: .81em;
    letter-spacing: .2em;
    font-weight: 300;
    text-transform: uppercase;
    padding: 2em 0 .8em;
}

.right .p {
    color: hsl(212, 21%, 14%);
    font-size: 2em;
    font-family: "Montserrat";
    font-family: "Fraunces";
    font-weight: 700;
    
}

.right .d {
    font-size: .95em;
    font-weight: 300;
    font-family: "Montserrat";;
    padding-top: .7em;
    line-height: 1.4em;
    color: hsl(228, 12%, 48%);
    padding-bottom: .6em;
}

.right .price {
    color: hsl(158, 36%, 37%);
    font-size: 2em;
    font-family: "Fraunces";
    font-weight: 700;
    padding-bottom: .3em;
    display: flex;
    gap: 20px;
    
}

.right span {
    font-size: .3em;
    color: hsl(212, 21%, 14%);
    margin-bottom: 2em;
    margin-top: 1.4em;
}

.right button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    border: none;
    outline: none;
    background: hsl(158, 36%, 37%);
    padding: .8em 3em ;
    color: hsl(0, 0%, 100%);
    border-radius: .4em;
    margin-bottom: 2em;
    font-size: .86em;
    cursor: pointer;
    place-content: center;
    
}

.right button:hover {
    background: hsl(157, 40%, 20%);

}

.right img {
    width: 23px;
    height: 23px;
}

.attribution {
    text-align: center;
    padding: 2em 0;
    display: flex;
    font-size: 11px;
    gap: 4px;
    margin-top: 3em;
}

.attribution a {
    text-decoration: none;
    color: hsl(158, 36%, 37%);
}

@media screen and (max-width: 650px) {
    .details {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        border-radius: .5em;
    
    }

    .left .ir {
        display: none;
    }

    .left, .right {
        display: flex;
        width: 90%;
        flex-direction: column;
    }

    .left {
        width: 370px;
    }

    .left .im{
        display: flex;
        border-top-left-radius: .5em;
        border-top-right-radius: .5em;
    }

}